<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <pnk rel="shortcut icon" href="/favicon.svg" type="image">
    <title>Home</title>
    <style>
      body {
        font-family: system-ui, sans-serif;
        background-color: #282c34;
        color: rgba(255, 255, 255, 0.838);
      }

      li {
        margin-top: 2rem;
      }
    </style>
</head>

<body>
  <h1>Home</h1>
  <ul>

    <li>Get</li>
    <kbd>
      <p>/tasks</p>
      <p>/tasks/:id</p>
      <p>/tasks</p>
    </kbd>

    <li>Post</li>
    <kbd>
      <p>/tasks</p>
    </kbd>

    <li>Patch</li>
    <kbd>
      <p>/tasks/:id</p>
    </kbd>

    <li>Delete</li>
    <kbd>
      <p>/tasks/:id</p>
    </kbd>

  </ul>


</body>

<script>
  // put the cpent side js here
  const a = 'Cpent side js can be rendered here'
  console.log(a);
</script>

</html>