<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.svg" type="image">
  <title>Home</title>
  <style>
    body {
      font-family: system-ui, sans-serif;
      background-color: #282c34;
      color: rgba(255, 255, 255, 0.838);
    }
  </style>
</head>

<body>
  <h1>Home</h1>
</body>

<script>
  // put the client side js here
  const a = 'lajflajflajalfj'
  console.log(a);
</script>

</html>